
.article {
	margin: 30px 0;

	>.container {
 		.flexClum(@ai: stretch);
	}

	.article--left {
		flex: 1;
		background: #fff;
		padding: 50px;
	}
	.article--right {
		margin-left: 30px;
		width: 30%;
	}

	.article__title {
		font-size: 25px;
		color: #333;
	}

	.article__other {
		margin-top: 30px;
 		.flexClum;
		> span {
			display: inline-block;
			margin-right: 10px;
		}
	}

	.article__content {
		width: 100%;

		span,img,p,div,blockquote {
			width: 100% !important;
			max-width: 100% !important;
		}
	}

	.article-face-img {
		margin-top: 30px;
	}
	.article-sm-title {
		margin: 10px 0;
		padding: 15px 30px;
	    color: rgb(102, 102, 102);
	    border-radius: 4px;
	    letter-spacing: 1px;
	    line-height: 25px;
	    background: rgb(248, 248, 248);
	}

	.article__catalog {
		margin-bottom: 20px;
		> span {
			display: inline-block;
			background: @primary-color;
			height: 30px;
			width: 68px;
			text-align: center;
			line-height: 30px;
			color: #fff;
			vertical-align: top;
		}
	}
	.article__tags {
		margin: 20px 0;
		> span {
			display: inline-block;
			background: @body-background;
			height: 30px;
			padding: 0 5px;
			text-align: center;
			line-height: 30px;
			color: #444;
			vertical-align: top;
		}
	}
	img {
		width: 100% !important;
		height: auto;
	}

	@media screen {
		@media (max-width: 900px) {
			.article--left {
				width: 100%;
				padding: 20px;
			}
			.article--right {
				margin-top: 20px;
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

.goTop {
	position: fixed;
	right: 50px;
	bottom: 100px;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background: #777;
	font-size: 20px;
	display: none;
}

.share-content {
	position: relative;
	margin-top: 20px;
	background: #fff;
	padding: 15px 20px;
	text-align: center;
	> a {
		position: relative;
		display: inline-block;
		font-size: 20px;
		margin: 0 15px;
		transition: .2s color ease;
		color: @title-text-color;
		&:hover {
			color: @primary-color;
		}

		&.wx {
			&:hover {
				.wx-qr {
					opacity: 1;
					z-index: 100;
				}
			}
		}
	}
}
.article__relative-blog {
	.article__relative-title {
		font-size: 16px;
		margin-bottom: 20px;
		color: @primary-color;
	}
	.relative-blog {
 		.flexClum(@jc: flex-start ,@ai: center);
 		margin: 0 -10px -40px;
	}
	.relative-blog-item {
		width: 33.333%;
		position: relative;
		padding: 0 10px;
		margin-bottom: 20px;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	.relative-blog-title {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 10px;
		> span {
			display: block;
			color: #fff;
			padding: 5px;
			text-indent: 10px;
			padding: 5px 10px;
			font-size: 12px;
			background: rgba(0, 0, 0, .5);
		}
	}

	@media screen {
		@media (max-width: 900px) {
			.relative-blog-item {
				width: 100%;
			}
		}
	}
}

.article-operate {
 	.flexClum(@ai: center);
}

.article-zan {
	text-align: center;
	position: relative;
	> a {
		display: inline-block;
		vertical-align: middle;
		width: 56px;
	    height: 30px;
	    text-align: center;
	    color: #ff6428;
	    border: 1px #f0f0f0 solid;
	    border-radius: 16px;
	    cursor: pointer;
	    color: #ff6428;
		transition: .2s color ease-in-out;
		&:hover {
			color: @primary-color;
			border-color: @primary-color;
		}
	}
	i {
    	width: 20px;
    	height: 20px;
    	font-size: 20px;
    	vertical-align: middle;
    }
	span {
		display: inline-block;
		margin-left: 10px;
	}
	.zan-animated {
		position: absolute;
	    font-size: 10px;
	    color: #999;
	    top: 50%;
	    opacity: 0;
	}
}

.wx-qr {
	position: absolute;
    top: -200px;
    left: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    z-index: -1;
    transition: .2s all;
    transform: translate(-50%,0);
}

@media screen {

	@media (max-width: 900px) {
		.article-operate-left {
			flex: 1;
		}
		.article-operate-right {
			display: none;
		}
	}
}

