<% include template/header.html %>

		<div class="activity-banner">
			<div class="container">
				<div class="swiper-container">
				    <div class="swiper-wrapper">
				        <% banner.forEach(function(b){ %>
					        <div  class="swiper-slide">
				        		<a href="<%=b.link%>" title="接力浙商网" target="_blank" class="swiper-blcok"><img src="<%=b.src_img%>" /></a>
					        </div>
				        <% }) %>
				    </div>
				    <!-- 如果需要导航按钮 -->
				    <!-- <div class="swiper-button-prev"></div> -->
				    <!-- <div class="swiper-button-next"></div> -->

			    	<div class="swiper-pagination"></div>

				</div>
			</div>
		</div>

		<div class="activity-main">
			<div class="container">
					
				<div class="activity-item">
					<div class="activity-item-title">
						<h3>活动</h3>
						<div class="activity-types">
							<a title="所有" href="/activities" <% if (!typeID) { %> class="active" <% } %>>所有</a>
							<% catalog.forEach(function(c){ %>
								<a href="/activities/<%=c.id%>" title="<%=c.sort%>" 
									<% if (c.id == typeID) { %> class="active" <% } %>
									data-id="<%=c.id%>">
									<%=c.sort%>
								</a>
							<% }) %>
						</div>
					</div>
					<div class="activity-content">
						<%-blogHtml %>
					</div>
				</div>

			</div>
		</div>
		<% include template/footer.html %>
	</body>

	<% include template/script.html %>
	<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
	<script type="text/javascript">
		$( function () {
			var mySwiper = new Swiper ('.swiper-container', {
			    loop: true,
			    autoplay: 3000,
			    lazyLoading : true,
				lazyLoadingInPrevNext : true,
			    // 如果需要分页器
			    pagination: '.swiper-pagination',
			    
			    // 如果需要前进后退按钮
			    nextButton: '.swiper-button-next',
			    prevButton: '.swiper-button-prev',
			    scrollbarHide: true
			}) 
		})
	</script>
</html>