<% include template/header.html %>

		<div class="banner">
			<div class="container swiper-container">
			    <div class="swiper-wrapper">
			    	<% banner.forEach(function(b){ %>
				        <div  class="swiper-slide">
				        	<a href="<%=b.link%>" target="_blank" class="swiper-blcok"><img src="<%=b.src_img%>" /></a>
				        </div>
			        <% }) %>
			    </div>
			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			    
			    <!-- 如果需要导航按钮 -->
			    <div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div>
			</div>
		</div>

		<div class="lastnews">
			<div class="container">
				<div class="banner-left" id="bannerLeft">
					<%if (lastBlog.length) {%>
						<a target="_blank" href="/<%=lastBlog[0].difference%>/<%=lastBlog[0].id%>" class="lastnews-show" >
							<img src="<%=lastBlog[0].img_src%>" class="lastnews-show__img"/>
							<div class="lastnews-show__des">
								<p class="lastnews-show__title"><%=lastBlog[0].headline%></p>
							</div>
						</a>
					<% } %>
				</div>
				<div class="banner-right" id="bannerRight">
					<div class="lastnews-list">
						<p class="lastnews-list__title">最新消息</p>
			    		<% lastBlog.forEach(function(b){ %>
							<a href="/<%=b.difference%>/<%=b.id%>" target="_blank" class="lastnews-list__item" 
								data-img="<%=b.img_src%>" 
								data-id="<%=b.id%>"
								data-title="<%=b.headline%>">
								<p class="lastnews-list__item-title"><%=b.headline%></p>
								<p class="lastnews-list__item-s_title"><%=b.title%></p>
							</a>
			       		<% }) %>
					</div>
				</div>
			</div>
		</div>

		<div class="news-main">
			<div class="container">
				<div class="news-main--left">

					<div class="news-module long">
						<div class="news-module__title">
							产业
							<div class="news-module__type">
			    				<% newsCatalog.forEach(function(c){ %>
									<a href="/information/<%=c.id%>" target="_blank"><%=c.name%></a>
			       				<% }) %>
							</div>
						</div>
			    		<% newsCatalog.forEach(function(c){ %>
			    			<% if (c.blog.length) { %>
								<div class="news-module__list">
									<div class="news-module__item">
										<a href="/information/article/<%=c.blog[0].id%>" target="_blank" class="news-module--left">
											<img class="new-img lazy" data-original="<%=c.blog[0].img_src%>">
											<div class="news--hot-catalog"><%=c.name%></div>
										</a>
										<div class="news-module--right">
											<a class="new-title" href="/information/article/<%=c.blog[0].id%>" target="_blank"><%=c.blog[0].headline%></a>
											<div class="news-sm-title">
												<%=c.blog[0].title%>
											</div>
											<p class="new-date">
												<span class="author">
													<%=c.blog[0].name %>
												</span>
												<span>
													<%=c.blog[0].created_at%>
												</span>
											</p>
										</div>
									</div>

									<ul class="customer-news">
				    					<% c.blog.forEach(function(b, i){ %>
			    							<% if (i) { %>
												<li>
													<a href="/information/article/<%=b.id%>" target="_blank"><%=b.headline %></a>
												</li>
											<% } %>
				       					<% }) %>
									</ul>
								</div>
			       			<% } %>
			       		<% }) %>
					</div>

					<div class="news-module long">
						<div class="news-module__title">
							特写
							<div class="news-module__type">
								<% reportCatalog.forEach(function(c){ %>
									<a href="/report/<%=c.id%>" target="_blank"><%=c.name%></a>
			       				<% }) %>
							</div>
						</div>
						
						<% reportCatalog.forEach(function(c){ %>
			    			<% if (c.blog.length) { %>
								<div class="news-module__list">
									<div class="news-module__item">
										<a href="/report/article/<%=c.blog[0].id%>" target="_blank" class="news-module--left">
											<img class="new-img lazy" data-original="<%=c.blog[0].img_src%>">
											<div class="news--hot-catalog"><%=c.name%></div>
										</a>
										<div class="news-module--right">
											<a class="new-title" href="/report/article/<%=c.blog[0].id%>" target="_blank"><%=c.blog[0].headline%></a>
											<div class="news-sm-title">
												<%=c.blog[0].title%>
											</div>
											<p class="new-date">
												<span class="author">
													<%=c.blog[0].name %>
												</span>
												<span>
													<%=c.blog[0].created_at%>
												</span>
											</p>
										</div>
									</div>

									<ul class="customer-news">
				    					<% c.blog.forEach(function(b, i){ %>
			    							<% if (i) { %>
												<li>
													<a href="/report/article/<%=b.id%>" target="_blank"><%=b.headline %></a>
												</li>
											<% } %>
				       					<% }) %>
									</ul>
								</div>
			       			<% } %>
			       		<% }) %>

					</div>

					<div class="news-module long">
						<div class="news-module__title">
							活动
							<div class="news-module__type">
								<% activityCatalog.forEach(function(c){ %>
									<a href="/activities/<%=c._id%>" target="_blank"><%=c.name%></a>
			       				<% }) %>
							</div>
						</div>
						
						<% activityCatalog.forEach(function(c){ %>
			    			<% if (c.blog.length) { %>
								<div class="news-module__list">
									<div class="news-module__item">
										<a href="/activities/article/<%=c.blog[0].id%>" target="_blank" class="news-module--left">
											<img class="new-img lazy" data-original="<%=c.blog[0].img_src%>">
											<div class="news--hot-catalog"><%=c.catalog.name%></div>
										</a>
										<div class="news-module--right">
											<a class="new-title" href="/activities/article/<%=c.blog[0].id%>" target="_blank"><%=c.blog[0].headline%></a>
											<div class="news-sm-title">
												<%=c.blog[0].title%>
											</div>
											<p class="new-date">
												<span class="author">
													<%=c.blog[0].name %>
												</span>
												<span>
													<%=c.blog[0].created_at%>
												</span>
											</p>
										</div>
									</div>

									<ul class="customer-news">
				    					<% c.blog.forEach(function(b, i){ %>
			    							<% if (i) { %>
												<li>
													<a href="/activities/article/<%=b.id%>" target="_blank"><%=b.headline %></a>
												</li>
											<% } %>
				       					<% }) %>
									</ul>
								</div>
			       			<% } %>
			       		<% }) %>

					</div>
					
				</div>
				<div class="news-main--right">
					<div class="hot-news">
						<p class="hot-title">
							热门文章
						</p>
						<div class="hot-list">
							<% include template/hotblog.html %>
						</div>
					</div>

					<div class="hot-tags">
						<p class="hot-title">
							热门标签
						</p>
						<div class="hot-list">
							<% include template/hottag.html %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include template/footer.html %>
	</body>
	<% include template/script.html %>
	<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
	<script type="text/javascript">

		$(function () {

			var mySwiper = new Swiper ('.swiper-container', {
			    loop: true,
			    autoplay: 3000,
			    lazyLoading : true,
				lazyLoadingInPrevNext : true,
			    // autoplay: 3000,
			    // 如果需要分页器
			    pagination: '.swiper-pagination',
			    
			    // 如果需要前进后退按钮
			    nextButton: '.swiper-button-next',
			    prevButton: '.swiper-button-prev',
			    scrollbarHide: true
			}) 

			var $bannerRight = $('#bannerRight');
			var $bannerLeft = $('#bannerLeft');

			$('.lastnews-list__item').hover(function () {
				var $this = $(this);
				var data = $this.data();

				$this.addClass('active').siblings().removeClass('active');
				
				$bannerLeft.find('.lastnews-show').attr('href', '/article/'+data.id);
				$bannerLeft.find('.lastnews-show__img').attr('src', data.img);
				$bannerLeft.find('.lastnews-show__title').html(data.title);
			})

		})
	</script>
</html>
