<% include template/header.html %>

		<div class="banner">
			<div class="container swiper-container">
			    <div class="swiper-wrapper">
			    	<% banner.forEach(function(b){ %>
				        <div  class="swiper-slide">
				        	<a href="<%=b.link%>" title="接力浙商网" target="_blank" class="swiper-blcok">
				        		<img src="<%=b.src_img%>"/>
			        		</a>
				        </div>
			        <% }) %>
			    </div>
			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			    
			    <!-- 如果需要导航按钮 -->
			    <div class="swiper-button-prev">
			    	<i class="ion-ios-arrow-left"></i>
			    </div>
			    <div class="swiper-button-next">
			    	<i class="ion-ios-arrow-right"></i>
			    </div>
			</div>
		</div>

		<div class="lastnews">
			<div class="container">
				<div class="lastnews-left">
					<div class="swiper-container2">
						<div class="swiper-wrapper">
					    	<% fiveAc.forEach(function(b){ %>
						        <div  class="swiper-slide">
						        	<a href="/activities/article/<%=b.id%>" title="<%=b.title%>" target="_blank" class="swiper-face-blcok">
						        		<img src="<%=b.cover_image%>" alt="<%=b.title%>" >
					        		</a>
					        		<h2 class="swiper-title">
					        			<%=b.title%>
					        		</h2>
						        </div>
					        <% }) %>
					    </div>

					    <!-- 如果需要导航按钮 -->
					    <!-- <div class="swiper-button-prev">
					    	<i class="ion-ios-arrow-left"></i>
					    </div>
					    <div class="swiper-button-next">
					    	<i class="ion-ios-arrow-right"></i>
					    </div> -->
			    
					    <!-- 如果需要分页器 -->
					    <!-- <div class="swiper-pagination2"></div> -->
				    </div>
				</div>

				<div class="lastnews-right">
					<div class="lastnews-right-cell">
			    		<% twoInfor.forEach(function(c){ %>	
			    			<a class="lastnews-right-item" target="_blank" title="<%=c.headline%>" href="/<%=c.difference%>/article/<%=c.id%>">
								<div class="lastnews-pos">
									<img src="<%=c.img_src%>" alt="<%=c.headline%>">
									<% if (c.sort) { %>
										<span class="lastnews-type"><%=c.sort.sort%></span>
									<% } %>
									<h4 class="lastnews-title">
										<%=c.headline%>
									</h4>
								</div>
							</a>
			       		<% }) %>
						
					</div>

					<div class="lastnews-right-cell">
						<% twoReport.forEach(function(c){ %>	
			    			<a class="lastnews-right-item" target="_blank" title="<%=c.headline%>" href="/<%=c.difference%>/article/<%=c.id%>">
								<div class="lastnews-pos">
									<img src="<%=c.img_src%>" alt="<%=c.headline%>">
									<% if (c.sort) { %>
										<span class="lastnews-type"><%=c.sort.sort%></span>
									<% } %>
									<h4 class="lastnews-title">
										<%=c.headline%>
									</h4>
								</div>
							</a>
			       		<% }) %>
					</div>
				</div>
			</div>
		</div>

		<div class="news-main">
			<div class="container">
				<div class="news-main--left">

					<div class="news-module long">
						<div class="news-module__title">
							产业
							<div class="news-module__type">
			    				<% newsCatalog.forEach(function(c){ %>
									<a href="/information/<%=c.id%>" title="<%=c.name%>" target="_blank"><%=c.name%></a>
			       				<% }) %>
							</div>
						</div>
			    		<% newsCatalog.forEach(function(c){ %>
			    			<% if (c.blog.length) { %>
								<div class="news-module__list">
									<div class="news-module__item">
										<a href="/information/article/<%=c.blog[0].id%>" title="<%=c.blog[0].headline%>" target="_blank" class="news-module--left">
											<img class="new-img lazy" data-original="<%=c.blog[0].img_src%>">
											<div class="news--hot-catalog"><%=c.name%></div>
										</a>
										<div class="news-module--right">
											<a href="/information/article/<%=c.blog[0].id%>" title="<%=c.blog[0].headline%>" target="_blank">
												<h3 class="new-title"><%=c.blog[0].headline%></h3>
											</a>
											<div class="news-sm-title">
												<%=c.blog[0].title%>
											</div>
											<p class="new-date">
												<span class="author">
													<%=c.blog[0].name %>
												</span>
												<span>
													<%=c.blog[0].formattimer%>
												</span>
											</p>
										</div>
									</div>

									<ul class="customer-news">
				    					<% c.blog.forEach(function(b, i){ %>
			    							<% if (i) { %>
												<li>
													<a href="/information/article/<%=b.id%>" title="<%=b.headline %>" target="_blank"><%=b.headline %></a>
												</li>
											<% } %>
				       					<% }) %>
									</ul>
									<% if ( c.blog.length >= 2 ) { %>
										<a href="/information/<%=c.id%>" class="customer-more" title="更多" target="_blank">
											更多
										</a>
									<% } %>
								</div>
			       			<% } %>
			       		<% }) %>
					</div>

					<div class="news-module long">
						<div class="news-module__title">
							特写
							<div class="news-module__type">
								<% reportCatalog.forEach(function(c){ %>
									<a href="/report/<%=c.id%>" title="<%=c.name%>" target="_blank"><%=c.name%></a>
			       				<% }) %>
							</div>
						</div>
						
						<% reportCatalog.forEach(function(c){ %>
			    			<% if (c.blog.length) { %>
								<div class="news-module__list">
									<div class="news-module__item">
										<a href="/report/article/<%=c.blog[0].id%>" title="<%=c.blog[0].headline%>" target="_blank" class="news-module--left">
											<img class="new-img lazy" data-original="<%=c.blog[0].img_src%>">
											<div class="news--hot-catalog"><%=c.name%></div>
										</a>
										<div class="news-module--right">
											<a href="/report/article/<%=c.blog[0].id%>" title="<%=c.blog[0].headline%>" target="_blank">		
												<h3 class="new-title"><%=c.blog[0].headline%></h3>
											</a>
											<div class="news-sm-title">
												<%=c.blog[0].title%>
											</div>
											<p class="new-date">
												<span class="author">
													<%=c.blog[0].name %>
												</span>
												<span>
													<%=c.blog[0].formattimer%>
												</span>
											</p>
										</div>
									</div>

									<ul class="customer-news">
				    					<% c.blog.forEach(function(b, i){ %>
			    							<% if (i) { %>
												<li>
													<a href="/report/article/<%=b.id%>" title="<%=b.headline%>" target="_blank"><%=b.headline %></a>
												</li>
											<% } %>
				       					<% }) %>
									</ul>
									<% if ( c.blog.length >= 2 ) { %>
										<a href="/report/<%=c.id%>" class="customer-more" target="_blank">更多</a>
									<% } %>
								</div>
			       			<% } %>
			       		<% }) %>

					</div>

					<div class="news-module long">
						<div class="news-module__title">
							活动
							<div class="news-module__type">
								<% activityCatalog.forEach(function(c){ %>
									<a href="/activities/<%=c.id%>" title="<%=c.name%>" target="_blank"><%=c.name%></a>
			       				<% }) %>
							</div>
						</div>
						
						<% activityCatalog.forEach(function(c){ %>
			    			<% if (c.blog.length) { %>
								<div class="news-module__list">
									<div class="news-module__item">
										<a href="/activities/article/<%=c.blog[0].id%>" title="<%=c.blog[0].headline%>" target="_blank" class="news-module--left">
											<img class="new-img lazy" data-original="<%=c.blog[0].cover_image%>">
											<div class="news--hot-catalog"><%=c.name%></div>
										</a>
										<div class="news-module--right">
											<a href="/activities/article/<%=c.blog[0].id%>" title="<%=c.blog[0].title%>" target="_blank">
												<h3 class="new-title"><%=c.blog[0].title%></h3>
											</a>
											<div class="news-sm-title">
												<%=c.blog[0].abstract%>
											</div>
											<p class="new-date">
												<span class="author">
													<%=c.blog[0].sponsor %>
												</span>
												<span>
													<%=c.blog[0].formattimer%>
												</span>
											</p>
										</div>
									</div>

									<ul class="customer-news">
				    					<% c.blog.forEach(function(b, i){ %>
			    							<% if (i) { %>
												<li>
													<a href="/activities/article/<%=b.id%>" title="<%=b.title%>" target="_blank"><%=b.title %></a>
												</li>
											<% } %>
				       					<% }) %>
									</ul>
									<% if ( c.blog.length >= 2 ) { %>
										<a href="/activities/<%=c.id%>" target="_blank" class="customer-more">更多</a>
									<% } %>
								</div>
			       			<% } %>
			       		<% }) %>

					</div>
					
				</div>
				<div class="news-main--right">
					<div class="hot-news">
						<p class="hot-title">
							热门文章
						</p>
						<div class="hot-list">
							<% include template/hotblog.html %>
						</div>
					</div>

					<div class="hot-tags">
						<p class="hot-title">
							热门标签
						</p>
						<div class="hot-list">
							<% include template/hottag.html %>
						</div>
					</div>

					<% include template/chain.html %>

				</div>
			</div>
		</div>
		<% include template/footer.html %>
	</body>
	<% include template/script.html %>
	<script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.min.js"></script>
	<script type="text/javascript">

		$(function () {

			var _locationHref = window.location.href;

			wx.ready(function () {
				wx.onMenuShareAppMessage({
					title: '<%=website.web_title%>', // 分享标题
				    desc: '<%=website.web_description%>', // 分享描述
				    link: _locationHref, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				    imgUrl: window.location.origin + '/images/1505377457976.jpeg', // 分享图标
				    type: '', // 分享类型,music、video或link，不填默认为link
				    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        console.log('success')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				    }
				})

				wx.onMenuShareTimeline({
					title: '<%=website.web_title%>', // 分享标题
				    link: _locationHref, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				    imgUrl: window.location.origin + '/images/1505377457976.jpeg', // 分享图标
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        console.log('success')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				    }
				})
			})

			new Swiper ('.swiper-container', {
			    loop: true,
			    autoplay: 3000,
			    lazyLoading : true,
				lazyLoadingInPrevNext : true,
			    // autoplay: 3000,
			    // 如果需要分页器
			    pagination: '.swiper-pagination',
			    
			    // 如果需要前进后退按钮
			    nextButton: '.swiper-button-next',
			    prevButton: '.swiper-button-prev',
			    scrollbarHide: true
			}) 

			new Swiper ('.swiper-container2', {
			    loop: true,
			    autoplay: 4000,
			    lazyLoading : true,
				lazyLoadingInPrevNext : true,
			    // 如果需要分页器
			    // pagination: '.swiper-pagination2',
			    scrollbarHide: true
			})
		})
	</script>
</html>
