<% include template/header.html %>
		<div class="video-list" id="video-list">
			<div class="container">
				<div class="video-list-item">
					<%  videos.forEach(function(v){ %>
						<a target="_blank" href="/video/<%=v.id%>/detail" class="video-blog" title="<%=v.title%>">
							<div class="video-blog-main">
								<div class="video-blog-img">
									<img src="<%=v.m_cover_url || v.uploadmovies.coverUrl%>" alt="<%=v.title%>">
									<div class="video-blog-shadow">
										<span class="video-player">
											<i class="ion-ios-play"></i>
										</span>
										<span class="video-time"></span>
									</div>
								</div>
								<div class="video-blog-info">
									<p class="video-blog-title"><%=v.title%></p>
									<p class="video-blog-headline"><%=v.headline%></p>
									<!-- <p class="video-other">
										<span class="video-time"><%=v.created_at%></span>
										<span class="video-creator"><%=v.signature%></span>
									</p> -->
								</div>
							</div>
						</a>
					<% }) %>
				</div>
			</div>
		</div>
	<% include template/footer.html %>
	</body>
	<% include template/script.html %>
	<script type="text/javascript">
		$(function () {

			var $video = $('#video-list');
			var $header = $('#header'), $footer = $('#footer');

			$video.css({
				minHeight: $(window).height() - Math.round($header.outerHeight()) - $footer.outerHeight()
			})

		})
	</script>
