<% include template/header.html %>
		<div class="video-list">
			<div class="container">
				<%  videos.forEach(function(v){ %>
					<h2 class="video-sort">
						<i class="ion-ios-pricetag-outline"></i><%=v.name%>

						<a title="<%=v.name%>" class="video-sort-more" target="_blank" href="/video/c/<%=v.id%>/list">更多</a>
					</h2>
					<div class="video-list-item">
						<%  v.blog.forEach(function(v){ %>

							<a target="_blank" href="/video/<%=v.id%>/detail" class="video-blog" title="<%=v.title%>">
								<div class="video-blog-img">
									<img src="<%=v.uploadmovies.coverUrl%>" alt="<%=v.title%>">
									<div class="video-blog-shadow">
										<span class="video-player">
											<i class="ion-ios-play"></i>
										</span>
										<span class="video-time"></span>
									</div>
								</div>
								<div class="video-blog-info">
									<p class="video-blog-title"><%=v.title%></p>
									<p class="video-other">
										<span class="video-time"><%=v.created_at%></span>
										<span class="video-creator"><%=v.signature%></span>
									</p>
								</div>
							</a>
						<% }) %>
					</div>
				<% }) %>
			</div>
		</div>
	<% include template/footer.html %>
	</body>
	<% include template/script.html %>
