	
<% data.forEach(function(b){ %>
	<a href="/activites/article/<%=b.id%>" target="_blank" class="activity">
		<img src="<%=b.img_src%>">
		<div class="activity__des">
			<p><%=b.headline%></p>
		</div>
	</a>
<% }) %>
