<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery_lazyload/1.9.7/jquery.lazyload.js"></script>
<script type="text/javascript">
	$(function () {
		var $headMenu = $('#headerMenu');
		var $searchBtn = $('#searchBtn');
		var $searchInput = $('#searchInput');

		$("img").lazyload({effect: "fadeIn", skip_invisible: true, failure_limit: 10});

		$('#toggleMenu').on('click', function () {
			if ($headMenu.hasClass('active')) {
				$headMenu.removeClass('active')
			}
			else {
				$headMenu.addClass('active')
			}
		})

		$searchBtn.on('click', function () {
			var value = $searchInput.val().trim();

			if (!value) {
				return ;
			}

			window.open('/search/article/' + value);
		})

		$searchInput.on('keyup', function (e) {
			var value = $(this).val();

			if (e.keyCode == 13) {
				if (!value) {
					return ;
				}

				window.open('/search/article/' + value);
			}
		})
	})
</script>